.container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    gap: 12px;
    scroll-padding: 10px;
   background-position: center;
  
}

.container .itemss {
    flex: 0 0 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


.radius {
    border-radius: 20px;
}